*{
    margin: 0px;
    padding: 0px;
}

span{
    color: blue;
}

#font-family{
    font-family: 'Franklin Gothic Medium';
}

.font-size{
    font-size: 20px;
}

#font-weight{
    font-weight: bold;
}

#font-style{
    font-style: oblique;
    color: red;
}

#font{
    font: bold 60px Daytona;
}

#text {
    /*text-align: center;
    text-align-last: right;
    */
    text-indent: 100px;
    letter-spacing: 2px;
    line-height: 40px;
}

p img{
    width: 20%;
    vertical-align: middle;
}

#text_decoration{
    text-decoration: none;
    color: yellow;
}